



@media screen and (min-width:400px){
  body{
    background-color: black;
  }




  .hover-button{
    border-radius: 25px;
    padding: 16px;
    border-color: #7D0202;
    color: #ae0101;

  }
  .hover-button:hover{
    color: #F21616;
  }

  .hover-button::after{
    color: #ae0101;
  }

  #navbar {
  overflow: hidden;
  border-color: #ae0101;

}


#navbar a {
  border-color: #ae0101;
  float: right;
  display: block;
  color: #F21616;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
 .refrence{
   color: white;
   font-family: "Georgia", serif;
 }
  p,h1,h2,h3,h4,h5,h6{
    color: white;
    font-family: "Georgia", serif;
  }

  .link{
    color: #ae0101;
  }

  .link:hover{
    color: #F21616;
  }

  .link:visited{
    color: #ae0101;
  }
  img{
    width:100%;
    height:auto;
  }
 .box{
   background-color: inherit;
   padding:20px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
   gap: 20px;
 }

  .title{
    grid-column: 1  ;
    grid-row: 1 ;
  }
  .pic{
    grid-column: 1 ;
    grid-row: 2 / 4 ;
  }

 .nav{
     grid-column:2/4;
     grid-row:1;
     border-style: solid;
     color:white;
     border-color:  #ae0101;

  }
  .content{
    grid-column: 2 / 4;
    grid-row: 2 / 6 ;
  }
}

@media screen and (max-width:399px){
  body{
    background-color: black;
  }

  .hover-button{
    border-radius: 25px;
    padding: 16px;
    border-color: #7D0202;
    color: #ae0101;

  }
  .hover-button:hover{
    color: #F21616;
  }

  .hover-button::after{
    color: #ae0101;
  }
  #navbar {
  overflow: hidden;
  border-color: #ae0101;

}


#navbar a {
  border-color: #ae0101;
  float: right;
  display: block;
  color: #F21616;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
  p,h1,h2,h3,h4,h5,h6{
    color: white;
    font-family: "Georgia", serif;
  }

  link{
    color: #ae0101;
  }

  link:hover{
    color: #F21616;
  }

  link:visited{
    color: #ae0101;
  }

  img{
    width:100%;
    height:auto;
  }
 .box{
  background-color: inherit;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 20px;
 }

 .title{
   grid-column:1;
   grid-row: 1 ;
 }
 .nav{
   grid-column:1;
   grid-row: 2/3;
 }
 .content{
  grid-column: 1;
  grid-row: 4/5 ;
 }
 .pic{
   grid-column:1;
   grid-row: 3/4;

 }
}


body{
  background-color: black;
}

.hover-button{
  border-radius: 25px;
  padding: 16px;
  border-color: #7D0202;
  color: #ae0101;

}
.hover-button:hover{
  color: #F21616;
}

.hover-button::after{
  color: #ae0101;
}

p,h1,h2,h3,h4,h5,h6{
  color: white;
  font-family: "Georgia", serif;
}

.link{
  color: #ae0101;
}

.link:hover{
  color: #F21616;
}

.link:visited{
  color: #ae0101;
}
